<div class="input-group">
<input type="text" class="form-control" placeholder="Search">
<span class="input-group-btn">
<button id="newnote" type="button" class="btn btn-success">+</button>
</span>
</div>
<div class="well well-sm col-12">
	<ul id="list" class="list-unstyled">
	</ul>
</div>

