
<textarea id="textpad" class="form-control">{{text}}</textarea>
<div id ="notepadbar" class= "btn-group">
<button id="delete" type="button" class="btn btn-danger">X</button>
<button id="delete" type="button" class="btn btn-primary">share</button>
</div>